.app {
    height: 100%;
}

.body {
    h1 {
        text-align: center;
        margin: 0;
    }

    p {
        color: #000;
        opacity: 0.45;
    }
    padding: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: #e5e5e5;
    height: 100%;
    img.hero {
        width: 90%;
        object-fit: cover;
    }
    button {
        background-color: #7e9bf9;
        padding: 2vh 8vw;
        font-size: large;
        width: 85%;
        height: 10%;
        color: aliceblue;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        width: 100%;
    }
}
.vector {
    width: 1.5rem;
    object-fit: cover;
}
