.navbar{
    background-color: white;
    border-radius: 5px;
    padding:20px 40px;
    display: flex;
    justify-content: space-between;
    height: 94px;
}
button{
    background-color: transparent;
    border: none;
}