
.top{
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: space-between;
    justify-content: space-between;
    button {
        background-color: transparent;
        border: none;
        outline: none;
    }
}

